<!DOCTYPE html>
<html>
    <head>
        <title>
            <title>The notes app!</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        </title>
    </head>
    <body>
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/logo.png') }}">
            <h1 class="display-5 fw-bold text-body-emphasis">
                The Notes App!
            </h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">
                Welcome to the notes app powered by Flask!
              </p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{ url_for('login') }}" type="button" class="btn btn-primary btn-lg px-4 gap-3">
                    Login
                </a>
                <a href="{{ url_for('register') }}" type="button" class="btn btn-outline-secondary btn-lg px-4">
                    Create an account
                </a>
              </div>
            </div>
          </div>
    </body>
</html>